server:
  port: 8080
spring:
  datasource:
    username: root
    password: abc123456
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/ape-frame?serverTimezone=Asia/Shanghai&useUnicode=true&characterEncoding=utf8&useSSL=false
    type: com.alibaba.druid.pool.DruidDataSource
    druid:
      initial-size: 20
      min-idle: 20
      max-active: 100
      max-wait: 60000
      #      打开视图
      stat-view-servlet:
        enabled: true
        url-pattern: /druid/*
        login-username: admin
        login-password: 123456
      #      过滤sql
      filter:
        stat:
          enabled: true
          log-slow-sql: true
          slow-sql-millis: 2000
        #        防火墙
        wall:
          enabled: true
  redis:
    host: ac9075d576cd.c.methodot.com
    port: 31670
    # 记得加密码
    password:
    database: 0
    # 可以基于lettuce，也可以基于jedis
    lettuce:
      pool:
        max-active: 20 # 最大连接数
        min-idle: 0 # 最小空闲连接数
        max-idle: 8 # 最大空闲连接数
        max-wait: -1 # 最大等待时间，-1表示无限期等待

mybatis-plus:
  #  扫描xml 文件
  mapper-locations: classpath:mapper/*.xml
  global-config:
    db-config:
      logic-delete-field: delete_flag
      logic-delete-value: 1
      logic-not-delete-value: 0

#  不配置或者配置为true时会打印SQL日志  true or false
sql:
  beauty:
    show: true

swagger:
  base-package: com.ze
  title: ze-sys 通用脚手架
  contact-name: ze
  contactUrl: git@github.com:IsZeCode/ze-frame.git
  contact-email: 614695876@qq.com
  version: 1.0版本
  description: 开箱即用的脚手架

# 是否开启缓存预热
init:
  cahce:
    enable: true




